body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fe4fb2, #dd9cd3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* cor da caixa */
.container {
    background: rgb(225, 193, 214);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(102, 4, 71, 0.87); /* cor da borda da caixa */
}

h1 {
    margin-bottom: 20px;
    color: #511838;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #fe4fac;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0033;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}